name: Publish to VS Code Marketplace

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release tag"
        required: true
        type: string

  release:
    types: [published]

jobs:
  publish-to-vscode:
    runs-on: ubuntu-latest
    environment: Production
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build extension
        run: npm run package

      - name: Install vcse
        run: npm install -g @vscode/vsce

      - name: Package extension
        run: |
          vsce package --pre-release --baseContentUrl https://github.com/neondatabase/neon_local_vs_code_extension/raw/main --baseImagesUrl https://github.com/neondatabase/neon_local_vs_code_extension/raw/main
          ls -lR *.vsix

      - name: Publish to VS Code Marketplace
        run: |
          vsce -V
          vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath neon-local-connect*.vsix --allow-star-activation --skip-duplicate --pre-release

        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}

      - name: Install ovsx
        run: npm install -g ovsx

      - name: Publish to Open VSIX
        run: |
          ovsx verify-pat databricks
          ovsx publish --packagePath neon-local-connect*.vsix --skip-duplicate --pre-release
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
